!!! 5
%html{ lang: 'en', manifest: "/application.manifest" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ name: "description", content: "" }/
    %meta{ name: "author", content: "" }/

    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }/

    %title== #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }

    = csrf_meta_tags
    = stylesheet_link_tag 'mobile', media: 'all' 
    = javascript_include_tag(Rails.env.development? ? 'mobile-debug' : 'mobile')
    
  %body
    = yield
